.content{
    float:left;
    background: $contentbg;
    width: 70%;
    padding: 15px;
    color: $white;
}

.content p{
    font-size: 14px;
    line-height: 25px;
}

.content a{
    display: inline-block;
    border:
        {
            color:#ccc;
            width:1px;
            style: solid
            } 
    padding: 5px 10px;
    background:$white;
    color:$black;
}