.content{
    background: $contentbg;
    color: $white;
}

.content-text{
    padding: 15px;
}

.content-text h2{
    margin-bottom: 15px;
}

.content p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
}


.content a{
    display: inline-block;
    border:
        {
            color:#ccc;
            width:1px;
            style: solid
            } 
    padding: 5px 10px;
    background:$white;
    color:$black;
}

.alt-content{
    background: #09a0af;
    
}

.alt-content figure{
    margin-right:0;
}

.alt-content .content-text {
    margin-right: 15px;
}