@import "compass/reset";
@import "compass/css3";
$white:#fff;
$black:#000;
$brandcolor:#000;
$contentbg:#068592;
$commontransition:all 500ms ease-in;
* {
    @include box-sizing(border-box);
}

html,
body {
    @include box-sizing(border-box);
}

body {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
    width: 1200px;
    max-width: 96%;
    margin: 0 auto;
}

.mainContent {
    display: flex;
}

@import "header";
@import "content";
@import "sidebar";