@import "compass/reset";
@import "compass/css3";
@import "mixins";
@import "reset";
@import "variables";
@import "grid";

body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    background: url(../images/body-bg.jpg) repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.35;
}

h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

@import "header";
@import "content";
@import "footer";
