/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/style.scss */
html,
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/style.scss */
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

/* line 24, ../sass/style.scss */
h2 {
  font-size: 25px;
}

/* line 28, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 32, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 36, ../sass/style.scss */
img {
  width: 100%;
  display: block;
  height: auto;
}

/* line 42, ../sass/style.scss */
.container {
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
}

/* line 47, ../sass/style.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 53, ../sass/style.scss */
.row-margin--bottom {
  margin-bottom: 30px;
}

/* line 57, ../sass/style.scss */
.col-3 {
  width: 33.33333%;
  float: left;
  padding: 0 15px 0 15px;
}

/* line 63, ../sass/style.scss */
.col-3:last-of-type {
  margin-right: 0;
}

/* line 1, ../sass/_header.scss */
header {
  background: #ccc;
  border-bottom: 1px solid #000;
  padding: 0 15px;
}
/* line 5, ../sass/_header.scss */
header .logo {
  float: left;
  padding: 20px 5px;
  background: #fff;
  color: #000;
  display: block;
}
/* line 13, ../sass/_header.scss */
header nav {
  float: right;
}
/* line 15, ../sass/_header.scss */
header nav ul li {
  display: inline-block;
}
/* line 18, ../sass/_header.scss */
header nav ul li a {
  color: #fff;
  line-height: 56px;
  display: block;
  padding: 0 15px;
  transition: all 500ms ease-in;
}
/* line 24, ../sass/_header.scss */
header nav ul li a:hover {
  background: #068592;
  color: #fff;
}

/* line 35, ../sass/_header.scss */
.banner {
  background: #224346;
  padding: 60px 40px;
  color: #fff;
  font-size: 40px;
  margin-bottom: 15px;
}

/* line 1, ../sass/_content.scss */
.content {
  background: #068592;
  color: #fff;
}

/* line 6, ../sass/_content.scss */
.content-text {
  padding: 15px;
}

/* line 10, ../sass/_content.scss */
.content-text h2 {
  margin-bottom: 15px;
}

/* line 14, ../sass/_content.scss */
.content p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 15px;
}

/* line 21, ../sass/_content.scss */
.content a {
  display: inline-block;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px;
  background: #fff;
  color: #000;
}

/* line 34, ../sass/_content.scss */
.alt-content {
  background: #09a0af;
}

/* line 39, ../sass/_content.scss */
.alt-content figure {
  margin-right: 0;
}

/* line 43, ../sass/_content.scss */
.alt-content .content-text {
  margin-right: 15px;
}
