/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_reset.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_reset.scss */
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_reset.scss */
.row, header {
  *zoom: 1;
}
/* line 12, ../sass/_reset.scss */
.row:before, header:before, .row:after, header:after {
  content: " ";
  display: table;
}
/* line 16, ../sass/_reset.scss */
.row:after, header:after {
  clear: both;
}

/* line 1, ../sass/_grid.scss */
.container {
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
}

/* line 6, ../sass/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 12, ../sass/_grid.scss */
.row-margin--bottom {
  margin-bottom: 30px;
}

/* line 18, ../sass/_grid.scss */
.col-full, .col-2, .col-3, .col-4, .col-5, .col-6, .col-8, .col-9 {
  width: 100%;
  float: left;
  padding: 0 15px 0 15px;
}

/* line 24, ../sass/_grid.scss */
.col-2 {
  width: 16.66667%;
  float: left;
}

/* line 30, ../sass/_grid.scss */
.col-3 {
  width: 25%;
  float: left;
}

/* line 36, ../sass/_grid.scss */
.col-4 {
  width: 33.33333%;
  float: left;
}

/* line 42, ../sass/_grid.scss */
.col-5 {
  width: 41.66667%;
  float: left;
}

/* line 48, ../sass/_grid.scss */
.col-6 {
  width: 50%;
  float: left;
}

/* line 55, ../sass/_grid.scss */
.col-8 {
  width: 66.66667%;
  float: left;
}

/* line 61, ../sass/_grid.scss */
.col-9 {
  width: 75%;
  float: left;
}

/* line 8, ../sass/style.scss */
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  background: url(../images/body-bg.jpg) repeat 0 0;
  background-size: contain;
  background-attachment: fixed;
  line-height: 1.35;
}

/* line 17, ../sass/style.scss */
h2 {
  font-size: 25px;
}

/* line 21, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/style.scss */
img {
  width: 100%;
  display: block;
  height: auto;
}

/* line 1, ../sass/_header.scss */
header {
  background: #272727;
  padding: 0 15px;
}
/* line 5, ../sass/_header.scss */
header .logo {
  float: left;
  padding: 20px 5px;
  background: #fff;
  color: #000;
  display: block;
}
/* line 12, ../sass/_header.scss */
header nav {
  float: right;
}
/* line 14, ../sass/_header.scss */
header nav ul li {
  display: inline-block;
}
/* line 16, ../sass/_header.scss */
header nav ul li a {
  color: #fff;
  line-height: 56px;
  display: block;
  padding: 0 15px;
  transition: all 500ms ease-in;
}
/* line 22, ../sass/_header.scss */
header nav ul li a:hover {
  background: #068592;
  color: #fff;
}

/* line 31, ../sass/_header.scss */
.banner {
  background: #224346 url(../images/bg-banner.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 60px 40px;
  color: #fff;
  font-size: 40px;
  margin-bottom: 15px;
}
/* line 38, ../sass/_header.scss */
.banner h1 {
  margin-bottom: 30px;
  line-height: 1.25;
}
/* line 42, ../sass/_header.scss */
.banner span {
  display: block;
  font-size: 15px;
  font-style: italic;
  position: relative;
  padding-left: 15px;
}
/* line 48, ../sass/_header.scss */
.banner span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 1px;
  background: #fff;
}

/* line 1, ../sass/_content.scss */
.content {
  background: #068592;
  color: #fff;
}

/* line 6, ../sass/_content.scss */
.content-text {
  padding: 15px;
}

/* line 10, ../sass/_content.scss */
.content-text h2 {
  margin-bottom: 15px;
}

/* line 14, ../sass/_content.scss */
.content p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* line 20, ../sass/_content.scss */
.content a {
  display: inline-block;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px;
  background: #068592;
  color: #fff;
  border-radius: 5px;
  transition: all 500ms ease-in;
}
/* line 33, ../sass/_content.scss */
.content a:hover {
  background: #0ca3b3;
}

/* line 38, ../sass/_content.scss */
.alt-content {
  background: #09a0af;
}

/* line 43, ../sass/_content.scss */
.alt-content figure {
  margin-right: 0;
}

/* line 47, ../sass/_content.scss */
.alt-content .content-text {
  margin-right: 15px;
}

/* line 52, ../sass/_content.scss */
.inner-content {
  padding: 15px;
  background: #fff;
}

/* line 57, ../sass/_content.scss */
.inner-content figure {
  display: inline-block;
}

/* line 1, ../sass/_footer.scss */
footer {
  padding: 10px 0;
  background: #003c42;
  color: #fff;
}
